

body{ 
  font-family: 'Jost', sans-serif;
  background: #f5f9f6;
  padding:10%;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content:start;
  align-items: center;
  min-height: 100vh}

h1 {
  font-family: 'Jost', serif;
  font-size: 2rem;
  margin-bottom: 20px;
  line-height:1.3;
}

h2 {
  font-family: 'Jost', serif;
 
}

#homelink{
  width:100%;
  padding:1em;
  margin-top: 1rem;
  text-align:center;
  display:flex;
  flex-direction:column;
  align-items:center;
  

}

.back-button {
  width:35%;
  padding:1em 0;
  border: solid 1px;
  border-radius:8px;
  font-size:0.9em;
  text-decoration:none;
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom:2rem;
  text-align:center;
  text-transform:uppercase;
  text-decoration-line:none;
}

#quiz-question {
  font-size:1.2em;
}

.answer-description {
  margin-top: 15px;
  padding:1em;
  background-color: #f0f8e0;
  border-left: 4px solid #8ba913;
  border-radius: 6px;
  font-style: italic;
  font-size: 0.99rem;
  color: #333;
  display:flex;
  flex-direction:column;
  align-items: center;
  text-align: center;
  gap:2px;
  width:75%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.description-image {
  width: 25%;
  margin-top: 0.5em;
  border-radius: 8px;
  display: block
}

.question-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  display: block;
  margin: 0 auto 16px auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* Center the start screen */
#quiz-start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing:border-box;
  width:100%;
  padding-top:3em;
}

#quiz-mode-select {
  width: 65%;
  /* Controls how wide the button group can get */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1em;
}

#quiz-progress {
  color: #80a92f; /* or any custom color */
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1rem;
  text-align: center;
}
#quiz-container {
  width:100%;
  margin: auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5% 5%;
  box-sizing: border-box;
}

#quiz-options {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quiz-options li {
  width:75%;
  list-style: none;
  margin: 10px 0px;
  padding: 1em;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size:1.2em;
  letter-spacing:0.03em;
  font-weight:500;
}



button {
  font-family: 'Jost', sans-serif;
  margin-top: 2px;
  padding: 10px 16px;
  background-color: #89b111;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;

}

#quiz-mode-select button {
  display: flex;
  width:100%;
  flex-direction: column;
  align-items: center;
  font-size:1.3rem;
  padding: 30px 0px;
  font-weight:400;
  letter-spacing:0.03em;
  text-transform:uppercase;
}

#quiz-mode-select button:hover{
  background-color: #6d9d14;

}

#quiz-container {
  scroll-margin-top: 60px;
}

.correct-answer {
  background-color: #c8e6c9; /* default correct highlight */
  color: #333;
}

.incorrect-answer {
  background-color: #ffcdd2; /* default incorrect highlight */
  color: #333;
}

#next-btn {
  margin-top: 0px;
  margin-bottom:10px;
  padding: 24px 0px 24px 0px;
  width:78%;
  font-size:1.2rem;
  text-transform: uppercase;
}

#next-btn:hover {
  background-color: #6d9915;
  
}

button:disabled {
  background-color: #aaa;
}
#next-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  filter: grayscale(30%);
}
.end-buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap; /* Wraps buttons on small screens */
  margin-top: 30px;
}

.end-buttons button,
.end-buttons a {
  font-size: 1.3em;
  padding: 1em;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
  transition: background 0.3s ease;
  width:100%;
  font-weight:600;
 
}

.play-again-button a{
  width:85%;
  
}

.home-button a{
  width:85%;
}

.end-buttons button:hover,
.end-buttons a:hover {
  background-color: #7aa10f;
}

.fade-in {
  animation: fadeIn 0.6s ease-in-out;
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes answerReveal {
  0% {
    transform: scale(0.9);
    opacity: 0.2;
    box-shadow: 0 0 0px  var(--pop-color); 
  }
  60% {
    transform: scale(1.05);
    opacity: 1;
    box-shadow: 0 0 12px var(--pop-color); 
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 6px var(--pop-color); 
  }
}

.correct-answer {
  animation: answerReveal 0.5s ease-out;
  transition: box-shadow 0.3s ease;
}




.no-bullets {
  list-style: none;
  padding-left: 0;
}

.mini-title {
  font-size: 0.99em;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.5em;
  text-align: center;
}




/* Responsive adjustments */
@media (max-width: 600px) {
  
  body {
    font-family: 'Jost', sans-serif;
    background: #f5f9f6;
    padding: 2% 2%;
    color: #333;
    justify-content:start;
    align-items:center;
    
  }

  .back-button {
    width:90%;

  }


  .hide-when-selected {
    display: none !important; /* removes layout space entirely */
  }
 

  .description-image {
    width:100%;
    margin-top: 0.5em;
    border-radius: 8px;
    display: block;
  }

  .answer-description{
    width:90%;
    padding:1em;
    font-size:1.1em;
    font-weight:600;
  }

  .end-buttons button,
  .end-buttons a{
  width:100%;
  padding-top:20px;
  padding-bottom:20px;
  font-size:1.2em;
  font-weight:600;
}

  #quiz-mode-select {
    width: 100%;
    /* Controls how wide the button group can get */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 0px;


  }

  #quiz-mode-select button {
    display: flex;
    width:95%;
    flex-direction: column;
    align-items: center;
    font-size:1.2rem;
    padding: 25px 50px;
  }
  
  #quiz-container {
    padding: 5%;
    text-align: center;
    margin-top:0.6em;
   
  }
  #quiz-start-screen {
    padding-bottom: 0;
    margin-bottom: 0;
    width:100%;
    display:flex;
    padding-top:2em;
    gap:0.5em;
    
  }


#next-btn {
  margin-top: 0px;
  margin-bottom:10px;
  padding: 18px 24px;
  width:100%;
  font-size:1.2rem;
  text-transform: uppercase;
  font-weight:600;
}

  h1, h2 {
    font-size: 1.8rem;
  }

  h1 {
    margin-bottom:2px;
  }

  #quiz-question {
    font-size: 1.1em;
    font-weight:600;
  }

  #quiz-options {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }

  #quiz-options li {
    list-style: none;
    width: 98%;                /* keeps it from full screen */
    padding: 1.2em 0.03em;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 1.05rem;
    font-weight:600;
    text-align: center;
    margin: 8px 0;
  }

  .mini-title {
    font-size:1.1em;
  }

  #quiz-progress {
    font-size:1.1em;
  }

  

  
}

@media (min-width: 600px)and (max-width: 1023px) {

  body {
    font-family: 'Jost', sans-serif;
    background: #f5f9f6;
    padding: 2% 2%;
    color: #333;
    justify-content:center;
    align-items:center;
   
    
  }

  .back-button {

    width:75%;
  }

 

 

  .end-buttons {
    flex-direction: row;
    justify-content: center;
  }

  #quiz-mode-select {
    width: 100%;
    /* Controls how wide the button group can get */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:2% 2%;
  }

  #quiz-mode-select button {
    display: flex;
    width:85%;
    flex-direction: column;
    align-items: center;
    font-size:1.2rem;
    padding: 25px 50px;
  }
  
  #quiz-container {
    padding: 2% 5%;
    text-align: center;
    width:90%;
    display:flex;
    align-items:center;
    box-sizing:border-box;
   
  }
  #quiz-start-screen {
    padding-bottom: 5%;
    margin-bottom: 0;
    width:100%;
    display:flex;
    
    
  }


#next-btn {
  margin-top: 0px;
  margin-bottom:10px;
  padding: 18px 24px;
  width:100%;
  font-size:1.2em;
  text-transform: uppercase;
}

  h1, h2 {
    font-size: 1.8em;
  }

  h1 {
    margin-bottom:0;
  }

  #quiz-question {
    font-size: 1.2em;
    width:100%;
    box-sizing:border-box;
    
  }

  #quiz-options {
    padding: 0;
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }

 

  #quiz-options li {
    list-style: none;
    width: 90%;                /* keeps it from full screen */
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 1.2em;
    text-align: center;
  }

  


}

@media (min-width: 768px)and (max-width: 1023px) {

  #quiz-mode-select button {
    display: flex;
    width:65%;
    flex-direction: column;
    align-items: center;
    font-size:1.2em;
    padding: 25px 50px;
  }
.back-button {
  width: 65%;
}

}


/* PLANTS THEME STYLING */

/* Set the background color for the plants quiz */
body.plants-theme {
  background-color: #cdddd0;
  padding-top:5%;
  color:#213d56;
}

/* Style default buttons */
body.plants-theme button {
  background-color: #437454;
  color: #fffff7;
  cursor: pointer;
  transition: all 0.3s ease;
  
}

body.plants-theme #quiz-mode-select button:hover{
  background-color:#508c4f;
  color: #fffff7;
  cursor: pointer;
  transition: all 0.3s ease;
  
}



body.plants-theme h1 {
  color:#213d56;
  text-transform:uppercase;
  
}

body.plants-theme .back-button {
  border-color: #437454;
  color:#437454;
}

body.plants-theme .back-button:hover {
  background-color: #4374546a;
  color:#437454;
  transition: all 0.3s ease;
}


body.plants-theme #quiz-container .mini-title {
  color:#213d56;
  text-transform: uppercase;
  
}

body.plants-theme #quiz-container h3{
  color:#2a5070;
  text-transform: uppercase;
}

body.plants-theme #quiz-container h2{
  color:#2a5070;
  text-transform: uppercase;
}

body.plants-theme #quiz-question {
  color:#213d56;
}
body.plants-theme #quiz-progress{
color:#da8e3c;}

body.plants-theme #quiz-container {
  background-color: #ffffff;
  border:solid #213d56;
  border-width: 2px;
}

body.plants-theme #quiz-options li{
  background-color: #437454;
  color:#fff;
}

body.plants-theme #quiz-options li:hover {
  background: #355d43;
  color:#fff;
}

body.plants-theme .answer-description{
  background-color:#dfefe2;
  border-left: 4px solid #437454;
}



body.plants-theme .correct-answer {
  background-color: #da8e3c!important;
  color: #fff!important;
}

body.plants-theme {
  --pop-color: #fc9628;
}


body.plants-theme .incorrect-answer {
  background-color: #dcb993!important;
  color: #fff!important;
}

body.plants-theme #next-btn{
  background-color:#da8e3c;
  color:#fff;
}

body.plants-theme #next-btn:hover{
  background-color:#de8729;
}

body.plants-theme .play-again-button{
  background-color:#3c6a4c;
  color:#eff4e1;
  font-weight:400;
}

body.plants-theme .home-button{
  background-color:#3c6a4c;
  color:#fff;
  font-weight:400;
}

body.plants-theme .home-button:hover{
  background-color:#2f573d;
  color:#fff;
  font-weight:400;
}

body.plants-theme .play-again-button:hover{
  background-color:#2f573d;
  color:#fff;
  font-weight:400;
}




/* COLUMBIA THEME STYLING */


body.columbia-theme {
  background-color: #3b4242;
  padding-top:5%;
}

/* Style default buttons */
body.columbia-theme button {
  background-color: #F2D06C;
  color: #2b2b26;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  
}

body.columbia-theme .back-button {
  border-color: #F2D06C;
  color:#F2D06C;
}

body.columbia-theme .back-button:hover {
  background-color: #f2d06c8c;
  color:#F2D06C;
  transition: all 0.3s ease;
}



/* Hover effect for buttons */

body.columbia-theme h1 {
  color:#fef2cc;
  
}



body.columbia-theme #quiz-options li{
  background-color: #4C5555;
  color:#ffffff;
}




body.columbia-theme .correct-answer {
  background-color: #ffd05b !important;
  color: #4C5555!important;
}

body.columbia-theme {
  --pop-color: #ffc83e;
}


body.columbia-theme .incorrect-answer {
  background-color: #ecd59a!important;
  color: #fff!important;
}

body.columbia-theme #next-btn{
  background-color:#ffd05b;
}

body.columbia-theme #next-btn:hover{
  background-color:#dfc992;
}

body.columbia-theme .play-again-button{
  background-color:#ffd05b;
  color:#4C5555;
  font-weight:400;
}

body.columbia-theme .play-again-button:hover{
  background-color:#ffd875;
  color:#4C5555;
  font-weight:400;
}

body.columbia-theme .home-button{
  background-color:#ffd05b;
  color:#4C5555;
  font-weight:400;
}

body.columbia-theme .home-button:hover{
  background-color:#ffd875;
  color:#4C5555;
  font-weight:400;
}

body.columbia-theme .answer-description{
  background-color:#ffe6a8;
  border-left:4px solid #ffd05b;
  
}

body.columbia-theme #quiz-progress {
  color:#e0a613;
}

body.columbia-theme #quiz-mode-select button{
  background-color:#ffd875;
  color:#4C5555;
}

body.columbia-theme #quiz-mode-select button:hover{
  background-color:#ffe7aa;
  color:#4C5555;
}




/* KEYLIME PIE THEME STYLING */


body.keylimepie-theme {
  background-color: #ecf1c2;
  padding-top:5%;
  color:#44592a;
}

body.keylimepie-theme #quiz-container h2{
  color:#67851f;
  text-transform: uppercase;
}

body.keylimepie-theme #quiz-container h3{
  color:#67851f;
  text-transform: uppercase;
}

body.keylimepie-theme .back-button {
  border-color: #44592a;
  color:#44592a;
}

body.keylimepie-theme .back-button:hover {
  background-color: #86a62691;
  color:#44592a;
  transition: all 0.3s ease;
}

body.keylimepie-theme #quiz-container {
  background-color: #ffffff;
  border: solid #71a742;
  border-width: 2px;
}

body.keylimepie-theme #quiz-container .mini-title {
  color:#63821c;
  text-transform: uppercase;
  
}

body.keylimepie-theme #quiz-options li{
  background-color: #68933e;
  color:#ffffff;
  
}

body.keylimepie-theme #quiz-options li:hover {
  background: #86a626;
  color:#fff;
}

body.keylimepie-theme .correct-answer {
  background-color: #e5be21 !important;
  color: #fff!important;
}
body.keylimepie-theme {
  --pop-color: #ffc83e;
}


body.keylimepie-theme .incorrect-answer {
  background-color: #d8c98d!important;
  color: #fff!important;
}


body.keylimepie-theme #next-btn{
  background-color:#e5be21;
}

body.keylimepie-theme #next-btn:hover{
  background-color:#ddb30c;
}

body.keylimepie-theme .answer-description{
  background-color:#ecf1c2;
  border-left:4px solid #89aa3e;
  color:#44592a;
}

body.keylimepie-theme h1 {
  color:#44592a;
  
}

body.keylimepie-theme #quiz-progress {
  color:#72a742;
}


body.keylimepie-theme #quiz-question {
  color:#44592a;
}

body.keylimepie-theme #fade-in h2{
  color:#67851f;
}

body.keylime-pie-theme .no-bullets{
  color:#44592a;
}

body.keylime-pie-theme .mini-title {
  color:#63821c;

}




/* STRAWBERRY THEME STYLING */


body.strawberry-theme {
  background-color: #d5eace;
  padding-top:5%;
  color:#362f2b;
}

body.strawberry-theme .back-button {
  border-color: #993423;
  color:#993423;
}

body.strawberry-theme .back-button:hover {
  background-color: #b63e2692;
  color:#993423;
  transition: all 0.3s ease;
}

body.strawberry-theme #quiz-container h2{
  color:#b63f26;
  text-transform: uppercase;
}

body.strawberry-theme #quiz-container h3{
  color:#59845a;
  text-transform: uppercase;
}

body.strawberry-theme #quiz-container {
  background-color: #ffffff;
  border: solid #b63f26;
  border-width: 2px;
}

body.strawberry-theme #quiz-container .mini-title {
  color:#b63f26;
  text-transform: uppercase;
  
}

body.strawberry-theme #quiz-options li{
  background-color: #74ae78;
  color:#ffffff;
  
}

body.strawberry-theme #quiz-options li:hover {
  background: #59845a;
  color:#fff;
}

body.strawberry-theme .correct-answer {
  background-color: #b63f26 !important;
  color: #fff!important;
}

body.strawberry-theme {
  --pop-color: #e74a2a;
}


body.strawberry-theme .incorrect-answer {
  background-color: #b4d3af!important;
  color: #fff!important;
}


body.strawberry-theme #next-btn{
  background-color:#b63f26;
}

body.strawberry-theme #next-btn:hover{
  background-color:#c84b32;
}

body.strawberry-theme .answer-description{
  background-color:#e7f2dc;
  border-left:4px solid #74ae78;
  color:#362f2b;
}

body.strawberry-theme h1 {
  color:#993423;
  
}

body.strawberry-theme #quiz-progress {
  color:#74ae78;
}


body.strawberry-theme #quiz-question {
  color:#362f2b;
}

body.strawberry-theme #fade-in h2{
  color:#c84b32;
}

body.strawberry-theme .no-bullets{
  color:#362f2b;
}

body.strawberry-theme .mini-title {
  color:#c84b32;

}


body.strawberry-theme #quiz-mode-select button {
  background-color:#b63f26;
  color:white;
  
}

body.strawberry-theme #quiz-mode-select button:hover {
  background-color:#c84b32;
  color:white;
  
}


body.strawberry-theme .end-buttons button {
  background-color:#b63f26;
  color:white;
  
}

body.strawberry-theme .end-buttons button:hover {
  background-color:#c84b32;
  color:white;
  
}

body.strawberry-theme .home-button {
  background-color:#b63f26;
  color:white;
  
}

body.strawberry-theme .home-button:hover {
  background-color:#c84b32;
  color:white;
  
}



/* BURGERS THEME STYLING */


body.burgers-theme {
  background-color: #FCF0D0;
  padding-top:5%;
  color:#362f2b;
}

body.burgers-theme .back-button {
  border-color: #DC7237;
  color:#DC7237;
}

body.burgers-theme .back-button:hover {
  background-color: #dc7137aa;
  color:#DC7237;
  transition: all 0.3s ease;
}

body.burgers-theme #quiz-container h2{
  color:#935A30;
  text-transform: uppercase;
}

body.burgers-theme #quiz-container h3{
  color:#CC7138;
  text-transform: uppercase;
}

body.burgers-theme #quiz-container {
  background-color: #ffffff;
  border: solid #AA5232;
  border-width: 2px;
}

body.burgers-theme #quiz-container .mini-title {
  color:#935A30;
  text-transform: uppercase;
  
}

body.burgers-theme #quiz-options li{
  background-color: #935A30;
  color:#ffffff;
  
}

body.burgers-theme #quiz-options li:hover {
  background: #C67F4F;
  color:#fff;
}

body.burgers-theme .correct-answer {
  background-color: #DC7237 !important;
  color: #fff!important;
}

body.burgers-theme {
  --pop-color: #DC7237;
}


body.burgers-theme .incorrect-answer {
  background-color: #dda283!important;
  color: #fff!important;
}


body.burgers-theme #next-btn{
  background-color:#CC7138;
}

body.burgers-theme #next-btn:hover{
  background-color:#de7331;
}

body.burgers-theme .answer-description{
  background-color:#F1DCC8;
  border-left:4px solid #CC7138;
  color:#362f2b;
}

body.burgers-theme h1 {
  color:#935A30;
  
}

body.burgers-theme #quiz-progress {
  color:#DC7237;
}


body.burgers-theme #quiz-question {
  color:#362f2b;
}

body.burgers-theme #fade-in h2{
  color:#935A30;
}

body.burgers-theme .no-bullets{
  color:#362f2b;
}

body.burgers-theme .mini-title {
  color:#935A30;

}


body.burgers-theme #quiz-mode-select button {
  background-color:#CC7138;
  color:white;
  
}

body.burgers-theme #quiz-mode-select button:hover {
  background-color:#df712c;
  color:white;
  
}


body.burgers-theme .end-buttons button {
  background-color:#CC7138;
  color:white;
  
}

body.burgers-theme .end-buttons button:hover {
  background-color:#df712c;
  color:white;
  
}

body.burgers-theme .home-button {
  background-color:#CC7138;
  color:white;
  
}

body.burgers-theme .home-button:hover {
  background-color:#df712c;
  color:white;
  
}



/* BEACHES THEME STYLING */


body.famousbeaches-theme {
  background-color: #EADAA4;
  padding-top:5%;
  color:#154e5e;
}

body.famousbeaches-theme .back-button {
  border-color: #1A5D70;
  color:#1A5D70;
}

body.famousbeaches-theme .back-button:hover {
  background-color: #21758c;
  color:#1752627a;
  transition: all 0.3s ease;
}

body.famousbeaches-theme #quiz-container h2{
  color:#1A5D70;
  text-transform: uppercase;
}

body.famousbeaches-theme #quiz-container h3{
  color:#0090B0;
  text-transform: uppercase;
}

body.famousbeaches-theme #quiz-container {
  background-color: #ffffff;
  border: solid #1A5D70;
  border-width: 2px;
}

body.famousbeaches-theme #quiz-container .mini-title {
  color:#0090B0;
  text-transform: uppercase;
  
}

body.famousbeaches-theme #quiz-options li{
  background-color: #446F5E;
  color:#ffffff;
  
}

body.famousbeaches-theme #quiz-options li:hover {
  background: #509378;
  color:#fff;
}

body.famousbeaches-theme .correct-answer {
  background-color: #0090B0 !important;
  color: #fff!important;
}

body.famousbeaches-theme {
  --pop-color: #009dc1;
}


body.famousbeaches-theme .incorrect-answer {
  background-color: #82a9b2e6!important;
  color: #fff!important;
}


body.famousbeaches-theme #next-btn{
  background-color:#1A5D70;
}

body.famousbeaches-theme #next-btn:hover{
  background-color:#1c748c;
}

body.famousbeaches-theme .answer-description{
  background-color:#D9EBF4;
  border-left:4px solid #0090B0;
  color:#154e5e;
}

body.famousbeaches-theme h1 {
  color:#1A5D70;
  
}

body.famousbeaches-theme #quiz-progress {
  color:#0090B0;
}


body.famousbeaches-theme #quiz-question {
  color:#154e5e;
}

body.famousbeaches-theme #fade-in h2{
  color:#154e5e;
}

body.famousbeaches-theme .no-bullets{
  color:#154e5e;
}

body.famousbeaches-theme .mini-title {
  color:#1A5D70;

}


body.famousbeaches-theme #quiz-mode-select button {
  background-color:#1A5D70;
  color:white;
  
}

body.famousbeaches-theme #quiz-mode-select button:hover {
  background-color:#207f99;
  color:white;
  
}


body.famousbeaches-theme .end-buttons button {
  background-color:#1A5D70;
  color:white;
  
}

body.famousbeaches-theme .end-buttons button:hover {
  background-color:#207f99;
  color:white;
  
}

body.famousbeaches-theme .home-button {
  background-color:#1A5D70;
  color:white;
  
}

body.famousbeaches-theme .home-button:hover {
  background-color:#207f99;
  color:white;
  
}





/* ROADTRIP THEME STYLING */


body.roadtrip-theme {
  background-color: #354857;
  padding-top:5%;
  color:#D3BE48;
}

body.roadtrip-theme .back-button {
  border-color: #D3BE48;
  color:#D3BE48;
}

body.roadtrip-theme .back-button:hover {
  background-color: #d3be4893;
  color:#D3BE48;
  transition: all 0.3s ease;
}

body.roadtrip-theme #quiz-container h2{
  color:#354857;
  text-transform: uppercase;
}

body.roadtrip-theme #quiz-container h3{
  color:#D3BE48;
  text-transform: uppercase;
}

body.roadtrip-theme #quiz-container {
  background-color: #ffffff;
  border: solid #D3BE48;
  border-width: 2px;
}

body.roadtrip-theme #quiz-container .mini-title {
  color:#354857;
  text-transform: uppercase;
  
}

body.roadtrip-theme #quiz-options li{
  background-color: #846E00;
  color:#ffffff;
  
}

body.roadtrip-theme #quiz-options li:hover {
  background: #957d00;
  color:#fff;
}

body.roadtrip-theme .correct-answer {
  background-color: #D3BE48 !important;
  color: #25323A!important;
}

body.roadtrip-theme {
  --pop-color: #e7c81b;
}


body.roadtrip-theme .incorrect-answer {
  background-color: #c5bb82d4!important;
  color: #fff!important;
}


body.roadtrip-theme #next-btn{
  background-color:#e7c81b;
  color:#25323A;
}

body.roadtrip-theme #next-btn:hover{
  background-color:#c9ad0d;
}

body.roadtrip-theme .answer-description{
  background-color:#F3EDD3;
  border-left:4px solid #e7c81b;
  color:#25353F;
}

body.roadtrip-theme h1 {
  color:#D3BE48;
  
}

body.roadtrip-theme #quiz-progress {
  color:#D3BE48;
}


body.roadtrip-theme #quiz-question {
  color:#25353F;
}

body.roadtrip-theme #fade-in h2{
  color:#314b5b;
}

body.roadtrip-theme .no-bullets{
  color:#25353F;
}

body.roadtrip-theme .mini-title {
  color:#354857;

}


body.roadtrip-theme #quiz-mode-select button {
  background-color:#D3BE48;
  color:#25323A;
  
}

body.roadtrip-theme #quiz-mode-select button:hover {
  background-color:#d9ba0c;
  color:#25323A;
  
}


body.roadtrip-theme .end-buttons button {
  background-color:#D3BE48;
  color:#25323A;
  
}

body.roadtrip-theme .end-buttons button:hover {
  background-color:#d9ba0c;
  color:#25323A;
  
}

body.roadtrip-theme .home-button {
  background-color:#D3BE48;
  color:#25323A;
  
}

body.roadtrip-theme .home-button:hover {
  background-color:#d9ba0c;
  color:#25323A;
  
}


/* MOVIES THEME STYLING */


body.movies-theme {
  background-color: #353432;
  padding-top:5%;
}

body.movies-theme .back-button {
  border-color: #D4D44D;
  color:#D4D44D;
}

body.movies-theme .back-button:hover {
  background-color: #d4d44d92;
  color:#D4D44D;
  transition: all 0.3s ease;
}

body.movies-theme #quiz-container h2{
  color:#D4D44D;
  text-transform: uppercase;
}

body.movies-theme #quiz-container h3{
  color:#D4D44D;
  text-transform: uppercase;
}

body.movies-theme #quiz-container {
  background-color: #ffffff;
  border: solid #D4D44D;
  border-width: 2px;
}

body.movies-theme #quiz-container .mini-title {
  color:#123836;
  text-transform: uppercase;
  
}

body.movies-theme #quiz-options li{
  background-color: #1C5E5D;
  color:#ffffff;
  
}

body.movies-theme #quiz-options li:hover {
  background: #106a68;
  color:#fff;
}

body.movies-theme .correct-answer {
  background-color: #D4D44D !important;
  color: #123836!important;
}

body.movies-theme {
  --pop-color: #1C5E5D;
}


body.movies-theme .incorrect-answer {
  background-color: #1c5e5d5e!important;
  color: #fff!important;
}


body.movies-theme #next-btn{
  background-color:#D4D44D;
  color:#123836;
}

body.movies-theme #next-btn:hover{
  background-color:#d4d44d9b;
}

body.movies-theme .answer-description{
  background-color:#F3EDD3;
  border-left:4px solid #D4D44D;
  color:#123836;
}

body.movies-theme h1 {
  color:#123836;
  
}

body.movies-theme #quiz-progress {
  color:#D4D44D;
}


body.movies-theme #quiz-question {
  color:#123836;
}

body.movies-theme #fade-in h2{
  color:#106a68;
}

body.movies-theme .no-bullets{
  color:#123836;
}

body.movies-theme .mini-title {
  color:#106a68;

}


body.movies-theme #quiz-mode-select button {
  background-color:#D4D44D;
  color:#25323A;
  
}

body.movies-theme #quiz-mode-select button:hover {
  background-color:#e3e33c;;
  color:#25323A;
  
}


body.movies-theme .end-buttons button {
  background-color:#D4D44D;
  color:#25323A;
  
}

body.movies-theme .end-buttons button:hover {
  background-color:#e3e33c;
  color:#25323A;
  
}

body.movies-theme .home-button {
  background-color:#D4D44D;
  color:#25323A;
  
}

body.movies-theme .home-button:hover {
  background-color:#e3e33c;
  color:#25323A;
  
}




